<!DOCTYPE html>
<html>
<head>
  <title>Lolzin do rage</title>
  <meta name="viewport" content="width=device-width, inicial-scale=1.0" =="">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src='./javascripts/TypeAhead.js'></script>
  <script type="text/javascript" src='./javascripts/script.js'></script>
  <script type="text/javascript" src="http://livejs.com/live.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
  <h1>QUE O <span class='rage'>RAGE</span> COMEÇE</h1>
  <div class="content">
    <div class="inputWrapper">
      <input autofocus autocomplete="off" type="text" id='search' placeholder='Qual campeão sofrerá hoje?!' list='herolist' value=''>
      <datalist id="herolist">
        <template id="heroOption">
          <option>
          </option>
        </template>
      </datalist>
    </div>
  </div>






  <footer>
    <p><span class="copyright">aquele copyright</p>
    <p><span class="devmoraes">desenvolvido por: <a target='blank' href="http://www.developermoraes.com">Developer Moraes</a></span></p>
  </footer>

</body>
</html>
