body {
  background-color: #111;
  font-size: 16px;
  font-family: "Oswald"!important;
  color: #cbcbcb;
}
h1 {
  text-align: center;
}
.rage {
  color: tomato;
}
.content {
  padding: 15px;
  max-width: 800px;
  min-width: 280px;
  margin: auto;
}
.inputWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  transition: 0.3s ease;
}

.inputWrapper input{
  border: none;
  padding: 10px;
  background: #cbcbcb;
  color: #111;
  min-width: 280px;
  width: 50vw;
  max-width: 500px;
  box-shadow: 0px 1px 3px 0px #777;
  outline-color: white;
}

.inputWrapper:focus input {
  box-shadow: 0px 2px 3px -1px #444;
}
@media screen and (min-width:750px) {
  .dinamicArea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

}
.heroCard{
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 350px;
  height: 500px;
  margin: 25px auto;
  border-radius: 10px;
}
.heroCard .info,
.heroCard .comentarios{
  background-color: rgba(44,44,44,0.5);
}
.heroCard .info h1{
  border-bottom: 2px solid white;
  color: tomato;
  font-size: 2.3em;
  font-variant: small-caps;
}
.heroCard .info h1,
.heroCard .info h3{
  text-align: center;
}
.heroCard .info{
  border-radius: 10px 10px 0px 0;
}
.heroCard .comentarios{
  height: 100%;
  border-radius:0px 0px  10px 10px;
}
.comentarioCard{
  background-color: #dcdcdc;
  max-width: 80%;
  border-radius: 2px;
  margin: auto;
  box-shadow: 0 2px 3px 1px #111;
  color: #111;
  padding: 0 5px;
}
.comentarioCard h1{
  font-size: 1.15em;
}
.comentarioCard h1,
.comentarioCard p{
  color: inherit!important;
  text-align: left;
}

.comentarioCard h1::first-letter,
.comentarioCard p::first-letter{
  text-transform: capitalize;
}

.heroCard h1,h3{
  /*background-color: rgba(44,44,44,0.3);*/
  color: #fff;
}
.createPostContainer{
  visibility: hidden;
}
.newPost{
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 0;
  min-width: 280px;
  max-width: 350px;
  margin: auto;
  border-radius: 2px;
  border: 2px solid #dcdcdc;
}
.newPost input,
.newPost textarea,
.newPost button{
  outline-color: tomato;
  border: none;
  width: 90%;
  margin: 5px auto;
  padding: 5px;
  box-sizing: border-box;
}
.newPost textarea{
  height: 100px;
  resize: none;
  font-family: inherit;
}
.newPost button{
  background-color: inherit;
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  color: #dcdcdc;
  cursor: pointer;
  font-size: 1.05em;
  transition: 0.05s ease-out;
  position: relative;
  top: 0;
}
.newPost button:hover{
  top: -3px;
  color: tomato;
  border-bottom: 1px solid tomato;

}
/* ------------------- */
.devmoraes {
  bottom: 5px;
  right:5px;
}
.copyright {
  bottom: 5px;
  left: 5px;
}
footer{
  height: auto;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: #555;
}
footer span a {
  color: #777;
}
